django>=5.2
djangorestframework>=3.16
django-cors-headers>=4.5
python-dotenv>=1.0
requests>=2.32
channels[daphne]>=4.0
channels-redis>=4.0
psycopg2-binary>=2.9
websockets>=17.0
pytchat>=0.5.5
edge-tts>=7.0
dj-database-url>=2.0
watchfiles>=0.21
